.app {
    background-color: #f8f8f8;
}

/* Header */
.header {
    padding: 0 16px;
    min-height: 500px;
    background-color: #0f0c1c;
}

.header__nav {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    height: 84px;
}

.header__nav-img {
    padding-top: 10px;
}

.header__nav-list {
    padding-top: 4px;
}

.hover--text {
    margin-right: 24px;
}

.hover--text:hover {
    color: #FF6838;
}


.hover--backgroud {
    background-color: #6C56C2;
    min-width: 100px;
}

.hover--backgroud:hover {
    background-color: #FF6838;
    color: #fff;
}

/* header section */

.header__section {
    margin: 10px;
    margin-top: 80px;
    color: #fff;
    font-family: sans-serif;
}

.header__section-heading {
    font-size: 4rem;
    line-height: 4rem;
    display: block;
    font-weight: 600;
    margin-bottom: 24px;
}

.header__section-text {
    font-size: 1.9rem;
    line-height: 3rem;
    letter-spacing: 0.1rem;
    opacity: 0.4;
}

.header__section-input {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    /* width: 458px; */
    width: 40%;
    background-color: #1E1B2A;
    border-radius: 6px;
    min-width: 300px;

}

.header__section-input input {
    height: 56px;
    /* width: 290px; */
    width: 90%;
    padding-left: 18px;
    font-size: 1.6rem;
    outline: none;
    border: none;
    opacity: 0.5;
    background-color: #1E1B2A;
    color: #fff;
    border-radius: 6px;
    min-width: 220px;
}

.header__section-input button {
    height: 44px;
    width: 148px;
    border-radius: 4px;
    background-color: #FF6838;
    color: #fff;
    font-size: 1.6rem;
    outline: none;
    border: none;
    margin-right: 6px;
    margin-top: 6px;
}

/* search */
.search {
    display: flex;
    justify-content: center;
    padding: 142px 0 50px 0;
    background-color: #f0f0f0;
}

.search-section {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 35%;
    height: 46px;
    border-radius: 4px;
}

.search input {
    width: 90%;
    outline: none;
    border: none;
    padding-left: 24px;
}

.search button {
    margin-top: 4px;
    outline: none;
    border: none;
    width: 38px;
    height: 38px;
    background-color: #6C56C2;
    border-radius: 4px;
    margin-right: 8px;
}

.search-icon {
    color: #fff;
    font-size: 16px;
    padding: 0 12px;
}

/* Content */
.content {
    margin: 0 12px;
}

.content-item:hover {
    transform: translateY(-2px);
    box-shadow: 1px 1px 40px 1px rgba(0, 0, 0, 0.2);
}

.content-item--img {
    width: 100%;
}

.content-item--box {
    margin: 0 12px;
    background-color: #fff;
    border-radius: 4px;
}

.content-item--heading {
    font-size: 16px;
    display: block;
    margin: 12px 0;
    font-weight: 600;
}

.content-item--text {
    font-size: 14px;
    word-spacing: 2px;
    text-align: justify;
    line-height: 20px;
    display: block;
    min-height: 90px;
}

.content-item--btn {
    color: #FF6838;
    outline: none;
    border: none;
    background-color: #FDE3DA;
    width: 100%;
    height: 50px;
    margin: 20px 0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
}